---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Augentraining</title>
	</head>
	<body class="prose max-w-full p-10">
    <h1 id="augentraining">Augentraining</h1>
    <ul>
      <li><a href="/montag_vm">Montag Vormittag</a></li>
      <li><a href="/montag_nm">Montag Nachmittag</a></li>
      <li><a href="/dienstag_vm">Dienstag Vormittag</a></li>
      <li><a href="/dienstag_nm">Dienstag Nachmittag</a></li>
      <li><a href="/mittwoch_vm">Mittwoch Vormittag</a></li>
      <li><a href="/mittwoch_nm">Mittwoch Nachmittag</a></li>
      <li><a href="/donnerstag_vm">Donnerstag Vormittag</a></li>
      <li><a href="/donnerstag_nm">Donnerstag Nachmittag</a></li>
      <li><a href="/freitag_vm">Freitag Vormittag</a></li>
      <li><a href="/freitag_nm">Freitag Nachmittag</a></li>
    </ul>

    <h3 id="jeden-abend-und-morgen-augendusche">Jeden Abend und Morgen Augendusche</h3>
    <p>Am Abend, bevor Sie zu Bett gehen, gönnen Sie Ihren Augen eine Dusche.</p>
    <ul>
      <li>
        <p>Öffnen Sie den Wasserhahn – kaltes Wasser. Schwappen Sie dann mit den Händen Wasser auf Ihre geschlossenen Augen. So etwa zehn Mal.</p>
      </li>
      <li>
        <p>Dann stellen Sie die Temperatur auf lauwarm. Auch damit benetzen Sie die geschlossenen Augen weitere zehn Mal. Das tut gut!</p>
      </li>
      <li>
        <p>Am Morgen genau in umgekehrter Reihenfolge. Das heißt, Sie beginnen mit lauwarmem Wasser und wechseln dann zum kalten. Das erfrischt die Augen.</p>
      </li>
    </ul>
	</body>
</html>
